<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>
            COVID-19 County Data Software
        </title>
        <meta charset = "utf-8">
        <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel = "stylesheet" href = "https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel = "stylesheet" href = "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
        <link rel = "stylesheet" href = "https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css">
        <script src = "https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <script src = "./LeafletData/us-states.js"></script>
        <script src = "./LeafletData/us-counties.js"></script>
        <script src = "./LeafletData/md-cases.js"></script>
        <script src = "./LeafletData/md-deaths.js"></script>
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src = "https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <link rel = "stylesheet" href = "css/app.css">
    </head>
    <body>
        
        <!-- NAVIGATION BAR -->

        <nav class = "navbar navbar-expand-lg navbar-light">
            <a class = "navbar-brand" onclick = "revealPage(1)">
                <i class = "nav-maintitle">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;County COVID App&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </i>
            </a>
            <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#collapsibleNavbar">
                <span class = "navbar-toggler-icon"></span>
            </button>
            <div class = "collapse navbar-collapse" id = "collapsibleNavbar">
                <ul class = "navbar-nav">
                    <li class = "nav-item">
                        <a class = "nav-link" onclick = "revealPage(1)">
                            <i class = "nav-title">Home</i>
                        </a>
                    </li>
                    <li class = "nav-item">
                        <a class = "nav-link" onclick = "revealPage(2)">
                            <i class = "nav-title">News</i>
                        </a>
                    </li>
                    <li class = "nav-item">
                        <a class = "nav-link" onclick = "revealPage(3)">
                            <i class = "nav-title">Settings</i>
                        </a>
                    </li>
                    <li class = "nav-item">
                        <a class = "nav-link" onclick = "revealPage(4)">
                            <i class = "nav-title">About</i>
                        </a>
                    </li>
                    <li class = "nav-item">
                        <a class = "nav-link" onclick = "revealPage(5)">
                            <i class = "nav-title">Help</i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- 1 - HOME PAGE -->

        <div class = "homePage specialPage">
            <div class = "container-fluid" style = "margin-top: 40px;">
                <div class = "whiteBox my-3 rounded shadow-sm">
                    <div style = "margin: 20px;">
                        <div>
                            <div class = "row">
                                <div class = "col-xl-2">
                                    <form style = "white-space: nowrap; width: 50%;">
                                        <b>State:&nbsp;</b>
                                        <select class = "browser-default custom-select select-menu" id = "stateSelectMenu" onchange = "stateToCounties(this.value)">
                                            <option value = "00">Select a State:</option>
                                            <!--
                                            <option value = "MD">Maryland</option>
                                            <option value = "MA">Massachusetts</option>
                                            -->
                                        </select>
                                    </form>
                                </div>
                                <div class = "col-xl-3">
                                    <form style = "white-space: nowrap; width: 50%;">
                                        <b>County or Metro Area:&nbsp;</b>
                                        <select class = "browser-default custom-select select-menu" id = "countySelectMenu" onchange = "showCountyData(this.value)">
                                            <option value = "00000">Select a County:</option>
                                        </select>
                                    </form>
                                </div>
                                <div class = "col-xl-2">
                                    <form style = "white-space: nowrap; width: 50%;">
                                        <b>View:&nbsp;</b>
                                        <select class = "browser-default custom-select select-menu2" id = "typeOfMapMenu" onchange = "changeMapType(this.value)">
                                            <option value = "0">Cases</option>
                                            <option value = "1">Deaths</option>
                                        </select>
                                    </form>
                                </div>
                                <div class = "col-xl-3">
                                    <form style = "white-space: nowrap; width: 50%;">
                                        <b>Date of Data:&nbsp;</b>
                                        <input type = "date" id = "dateOfDataMenu" value = "" min = "" max = "" onchange = "showCountyData(countySelectMenu.value)" required> 
                                        <!--min = "2020-03-23" max = "2021-11-17"-->
                                    </form>
                                </div>
                                <div class = "col-xl-2">
                                    <button class = "btn" id = "resetSelectionButton" onclick = "resetFunction()">
                                        <b>Reset Selection</b>
                                    </button> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class = "container-fluid">
                    <div class = "row">
                        <div class = "col-xl-8">
                            <div class = "whiteBox my-3 rounded shadow-sm" style = "padding: 10px;">
                                <div id = "map"></div>
                            </div>
                        </div>
                        <div class = "col-xl-4">
                            <div class = "whiteBox my-3 rounded shadow-sm" style = "padding: 2% 1% 2% 1%;">
                                <b id = "countyName">County Name</b>
                                <br>
                                <i id = "stateName">State Name or Initials</i>
                                <br>
                                <i id = "countyFIPSCode">County FIPS code</i>
                            </div>
                            <div class = "whiteBox my-3 rounded shadow-sm" style = "padding: 2% 1% 2% 1%;">
                                <i id = "infectionRate">Infection Rate</i>
                                <canvas id = "infectionRateChart" style = "width:90%; width:90%"></canvas>
                                <br>
                                <i id = "vaccinationRate">Vaccination Rate</i>
                                <canvas id = "vaccinationRateChart" style = "width:90%; width:90%"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class = "container-fluid">
                    <div class = "row">
                        <div class = "col-xl-6">
                            <div class = "whiteBox my-3 rounded shadow-sm">
                                <div style = "padding: 20px;">
                                    <h3>
                                        <b>Cases</b><br>
                                    </h3>
                                    <p>
                                        According to our records, the number of cases per 100,000 is <b id = "casesNum">N/A</b>.<br>
                                        Note that this statistic is up-to-date and verified by our administrators.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class = "col-xl-6">
                            <div class = "whiteBox my-3 rounded shadow-sm">
                                <div style = "padding: 20px;">
                                    <h3>
                                        <b>Deaths</b>
                                        <br>
                                    </h3>
                                    <p>
                                        According to our records, the number of confirmed deaths by COVID-19 is <b id = "deathsNum">N/A</b>.<br>
                                        Note that this statistic is up-to-date and verified by our administrators.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 2 - NEWS PAGE -->

        <div class = "newsPage specialPage">
            <div class = "container" style = "margin-top: 40px;">
                <div class = "row">
                    <div class = "col">
                        <div>
                            <h1 style = "font-size: 60px;">
                                <i>News</i>
                                <hr>
                            </h1>
                        </div>
                        <div>
                            <p>
                                This application allows you to view COVID-19 data of select counties in the United States.
                                You will be allowed to view the data of any county, but are not allowed to manipulate any data.
                                <br><br>
                                If you wish to view COVID-19 data of a county, start by filling out the relevant information above the map.
                                Then check the map, you should be able to view data pertaining to your chosen county.
                                <br>
                                More infomation can be found on the <a href = "#" onclick = "revealPage(4)">About Us</a> page.
                                <br><br>
                            </p>
                        </div>
                        <div class = "features">
                            <h2 class = "tnrTitle" style = "font-family: Georgia, 'Times New Roman', Times, serif;">
                                New features
                            </h2>
                            <p style = "color: dimgray;">
                                November 22, 2021 <br>
                                12:08 PM EDT <br>
                                Written by
                                <a class = "popup" onclick = "showPopUp('infoPopup')" style = "color: #007bff;">
                                    Atta
                                    <span class = "popuptext" id = "infoPopup">
                                        <i>Front-End Developer</i>
                                        <br>
                                        <b>Email:</b> a302@umbc.edu
                                    </span>
                                </a>
                            </p>
                            <p>
                                Here are some new features that were recently added to this application:
                            </p>
                            <ul>
                                <li>
                                    New pages like "News", "About", and more!
                                    Click on their respective titles at the top in the navigation bar to start exploring them!
                                </li>
                                <li>
                                    Redesigned Footer (looks much cleaner and simplistic)!
                                </li>
                                <li>
                                    Now you can now activate dark mode for this website!
                                    This was a highly requested feature, so we, the development team, have decided to add it.
                                    Click "Settings" in the navigation bar to experience dark mode right now!
                                </li>
                                <li>
                                    New help page with easy accessibility and contact options!
                                    Click on "Help" in the navigation bar to get help from the development team as soon as possible!
                                </li>
                            </ul>
                            <p>
                                All of these <em>amazing features</em> will continually become more efficient in the future!
                            </p>
                            <p>
                                As of now, surf the site, and have a great day exploring them! <br><br><br>
                            </p>
                        </div>
                        <div class = "maintenance">
                            <h2 class = "tnrTitle" style = "font-family: Georgia, 'Times New Roman', Times, serif;">
                                Maintenance
                            </h2>
                            <p style = "color: dimgray;">
                                November 21, 2021 <br>
                                1:23 PM EDT <br>
                                Written by
                                <a class = "popup" onclick = "showPopUp('infoPopup2')" style = "color: #007bff;">
                                    Jake
                                    <span class = "popuptext" id = "infoPopup2">
                                        <i>Back-End Developer</i>
                                        <br>
                                        <b>Email:</b> jdoody1@umbc.edu
                                    </span>
                                </a>
                            </p>
                            <p>
                                Our services will be<mark>down for maintenance on December 8 from 4:00 PM EDT to 7:00 PM EDT.</mark>Thank you for your patience!
                                <br>
                                Here are some things to note when this site is under maintenance.
                            </p>
                            <ul>
                                <li>
                                    If you have any questions about the maintenance, please send us an e-mail.
                                </li>
                                <li>
                                    If you are on the site and the site is about to go under maintenance.
                                    You will lose your current session, and changes you make will not be recorded.
                                </li>
                                <li>
                                    If you are in an urgent situation and need to obtain information from this site during maintenance
                                    , then please issue a request to us via e-mail. And your request may be granted depending on the type of your request.
                                </li>
                            </ul>
                            <p>
                                We hope you abide by these notes and be patient during our maintenance.
                            </p>
                            <p>
                                It should also be noted that maintenance doesn't usually last for three hours, it just gives us time to truly solve the issues.
                                <br><br>
                                <em>Thank you</em> for using our application!
                            </p>
                        </div>
                    </div>
                    <aside class = "col-md-4 blog-sidebar">
                        <div class = "p-4 mb-3 bg-dark rounded" style = "color: lightgray;">
                            <h4 class = "font-italic">
                                Important Notice
                            </h4>
                            <h6 class = "mb-0 font-italic">
                                All data provided by this website is updated weekly every Sunday by 10:00 PM EDT.
                                <br>
                                Data displayed on this site has been manually approved by the administrators of this website. 
                            </h6>
                        </div>
                        <div class = "p-4">
                            <h4 class = "tnrTitle font-italic">
                                Socials and Updates
                            </h4>
                            <ol class = "list-unstyled">
                                <li><a href = "#">GitHub</a></li>
                                <li><a href = "#">Twitter</a></li>
                                <li><a href = "#">Facebook</a></li>
                            </ol>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
        
        <!-- 3 - SETTINGS PAGE -->

        <div class = "settingsPage specialPage">
            <div class = "container" style = "margin-top: 40px;">
                <div class = "row">
                    <div class = "col">
                        <div>
                            <h1 style = "font-size: 60px;">
                                <i>Settings</i>
                                <hr>
                            </h1>
                        </div>
                    </div>
                </div>
                <div class = "whiteBox m-3 rounded shadow-sm">
                    <div class = "row">
                        <div class = "col-md-12">
                            <h4 class = "modeTitle" id = "currMode">
                                Dark Mode
                            </h4>
                        </div>
                    </div>
                    <div style = "margin: 25px;">
                        <div>
                            <button class = "btn btn-secondary" style = "margin-left: 0px;" id = "darkModeButton">
                                Dark Mode
                            </button>
                        </div>
                    </div>
                </div>
                <div class = "whiteBox m-3 rounded shadow-sm">
                    <div class = "row">
                        <div class = "col-md-12">
                            <h4 class = "modeTitle">
                                Brightness
                            </h4>
                        </div>
                    </div>
                    <div style = "margin: 25px;">
                        <div>
                            <p>Min  <input type = "range" min = "0" max = "100" step = "10">  Max</p>
                        </div>
                    </div>
                </div>
                <div class = "whiteBox m-3 rounded shadow-sm">
                    <div class = "row">
                        <div class = "col-md-12">
                            <h4 class = "modeTitle">
                                Contrast
                            </h4>
                        </div>
                    </div>
                    <div style = "margin: 25px;">
                        <div>
                            <p>Min  <input type = "range" min = "0" max = "100" step = "10">  Max</p>
                        </div>
                    </div>
                </div>
                <div class = "whiteBox m-3 rounded shadow-sm">
                    <div class = "row">
                        <div class = "col-md-12">
                            <h4 class = "modeTitle">
                                Sharpness
                            </h4>
                        </div>
                    </div>
                    <div style = "margin: 25px;">
                        <div>
                            <p>Min  <input type = "range" min = "0" max = "100" step = "10">  Max</p>
                        </div>
                    </div>
                </div>
                <div class = "whiteBox m-3 rounded shadow-sm">
                    <div class = "row">
                        <div class = "col-md-12">
                            <h4 class = "modeTitle">
                                Color Temperature
                            </h4>
                        </div>
                    </div>
                    <div style = "margin: 25px;">
                        <div>
                            <p>Min  <input type = "range" min = "0" max = "100" step = "10">  Max</p>
                        </div>
                    </div>
                </div>
                <div class = "whiteBox m-3 rounded shadow-sm">
                    <div class = "row">
                        <div class = "col-md-12">
                            <h4 class = "modeTitle">
                                Language
                            </h4>
                        </div>
                    </div>
                    <div style = "margin: 25px;">
                        <div>
                            <p>
                                Select your language:
                            </p>
                            <select name = "languages" id = "langSelect" data-placeholder = "English">
                                <option value = "EN">English</option>
                                <option value = "AB">Abkhazian</option>
                                <option value = "AA">Afar</option>
                                <option value = "AF">Afrikanns</option>
                                <option value = "SQ">Albanian</option>
                                <option value = "AM">Amharic</option>
                                <option value = "AR">Arabic</option>
                                <option value = "HY">Armenian</option>
                                <option value = "AS">Assamese</option>
                                <option value = "AY">Aymara</option>
                                <option value = "AZ">Azerbaijani</option>
                                <option value = "BA">Bashkir</option>
                                <option value = "EU">Basque</option>
                                <option value = "BN">Bengali, Bangla</option>
                                <option value = "DZ">Bhutani</option>
                                <option value = "BH">Bihari</option>
                                <option value = "BI">Bislama</option>
                                <option value = "BR">Breton</option>
                                <option value = "BG">Bulgarian</option>
                                <option value = "MY">Burmese</option>
                                <option value = "BE">Byelorussian</option>
                                <option value = "KM">Cambodian</option>
                                <option value = "CA">Catalan</option>
                                <option value = "ZH">Chinese (Mandarin)</option>
                                <option value = "CO">Corsican</option>
                                <option value = "HR">Croation</option>
                                <option value = "CS">Czech</option>
                                <option value = "DA">Danish</option>
                                <option value = "NL">Dutch</option>
                                <option value = "EO">Esperanto</option>
                                <option value = "ET">Estonian</option>
                                <option value = "FO">Faeroese</option>
                                <option value = "FJ">Fiji</option>
                                <option value = "FI">Finnish</option>
                                <option value = "FR">French</option>
                                <option value = "FY">Frisian</option>
                                <option value = "GD">Gaelic (Scots Gaelic)</option>
                                <option value = "GL">Galician</option>
                                <option value = "KA">Georgian</option>
                                <option value = "DE">German</option>
                                <option value = "EL">Greek</option>
                                <option value = "KL">Greenlandic</option>
                                <option value = "GN">Guarani</option>
                                <option value = "GU">Gujarati</option>
                                <option value = "HA">Hausa</option>
                                <option value = "IW">Hebrew</option>
                                <option value = "HI">Hindi</option>
                                <option value = "HU">Hungarian</option>
                                <option value = "IS">Icelandic</option>
                                <option value = "IN">Indonesian</option>
                                <option value = "IA">Interlingua</option>
                                <option value = "IE">Interlingue</option>
                                <option value = "IK">Inupiak</option> 
                                <option value = "GA">Irish</option>
                                <option value = "IT">Italian</option>
                                <option value = "JA">Japanese</option>
                                <option value = "JW">Javanese</option>
                                <option value = "KN">Kannada</option>
                                <option value = "KS">Kashmiri</option>
                                <option value = "KK">Kazakh</option>
                                <option value = "RW">Kinyarwanda</option>
                                <option value = "KY">Kirghiz</option>
                                <option value = "RN">Kirundi</option>
                                <option value = "KO">Korean</option>
                                <option value = "KU">Kurdish</option>
                                <option value = "LO">Laothian</option>
                                <option value = "LA">Latin</option>
                                <option value = "LV">Latvian, Lettish</option>
                                <option value = "LN">Lingala</option>
                                <option value = "LT">Lithuanian</option>
                                <option value = "MK">Macedonian</option>
                                <option value = "MG">Malagasy</option>
                                <option value = "MS">Malay</option>
                                <option value = "ML">Malayalam</option>
                                <option value = "MT">Maltese</option>
                                <option value = "MI">Maori</option>
                                <option value = "MR">Marathi</option>
                                <option value = "MO">Moldavian</option>
                                <option value = "MN">Mongolian</option>
                                <option value = "NA">Nauru</option>
                                <option value = "NE">Nepali</option>
                                <option value = "NO">Norwegian</option>
                                <option value = "OC">Occitan</option>
                                <option value = "OR">Oriya</option>
                                <option value = "OM">Oromo, Afan</option>
                                <option value = "PS">Pashto, Pushto</option>
                                <option value = "FA">Persian</option>
                                <option value = "PL">Polish</option>
                                <option value = "PT">Portuguese</option>
                                <option value = "PA">Punjabi</option>
                                <option value = "QU">Quechua</option>
                                <option value = "RM">Rhaeto-Romance</option>
                                <option value = "RO">Romanian</option>
                                <option value = "RU">Russian</option>
                                <option value = "SM">Samoan</option>
                                <option value = "SG">Sangro</option>
                                <option value = "SA">Sanskrit</option>
                                <option value = "SR">Serbian</option>
                                <option value = "SH">Serbo-Croatian</option>
                                <option value = "ST">Sesotho</option>
                                <option value = "TN">Setswana</option>
                                <option value = "SN">Shona</option>
                                <option value = "SD">Sindhi</option>
                                <option value = "SI">Singhalese</option>
                                <option value = "SS">Siswati</option>
                                <option value = "SK">Slovak</option>
                                <option value = "SL">Slovenian</option>
                                <option value = "SO">Somali</option>
                                <option value = "ES">Spanish</option>
                                <option value = "SU">Sudanese</option>
                                <option value = "SW">Swahili</option>
                                <option value = "SV">Swedish</option>
                                <option value = "TL">Tagalog</option>
                                <option value = "TG">Tajik</option>
                                <option value = "TA">Tamil</option>
                                <option value = "TT">Tatar</option>
                                <option value = "TE">Telugu</option>
                                <option value = "TH">Thai</option>
                                <option value = "BO">Tibetan</option>
                                <option value = "TI">Tigrinya</option>
                                <option value = "TO">Tonga</option>
                                <option value = "TS">Tsonga</option>
                                <option value = "TR">Turkish</option>
                                <option value = "TK">Turkmen</option>
                                <option value = "TW">Twi</option>
                                <option value = "UK">Ukranian</option>
                                <option value = "UR">Urdu</option>
                                <option value = "UZ">Uzbek</option>
                                <option value = "VI">Vietnamese</option>
                                <option value = "VO">Volapuk</option>
                                <option value = "CY">Welsh</option>
                                <option value = "WO">Wolof</option>
                                <option value = "XH">Xhosa</option>
                                <option value = "JI">Yiddish</option>
                                <option value = "YO">Yoruba</option>
                                <option value = "ZU">Zulu</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 4 - ABOUT US PAGE -->

        <div class = "aboutPage specialPage">
            <div class = "container" style = "margin-top: 40px;">
                <div class = "row">
                    <div class = "col">
                        <div>
                            <h1 style = "font-size: 60px;">
                                <i>About</i>
                                <hr>
                            </h1>
                        </div>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col">
                        <div>
                            <br>
                            <h2 class = "tnrTitle" style = "font-family: Georgia, 'Times New Roman', Times, serif;">
                                <i>Who Are We?</i>
                            </h2>
                            <p>
                                We are a team of students that wanted to make COVID-19 data easily accessible by county population.
                                <br>
                                We created this application, because we were determined to improve the way data is shown to us.
                                Our determination started at the beginning of September 2021. 
                                Since then, we have been working hard to create something innovating and effective in a short span of time.
                                We envisioned a future where there are no obstacles that prevent people from looking up COVID-19 for counties.
                                <br>
                                Thanks to the hard work of our team, we’ve managed to successfully create a wonderful project with a simplistic web interface that supports all devices. 
                            </p>
                        </div>
                        <div>
                            <br>
                            <h4 class = "tnrTitle" style = "font-family: Georgia, 'Times New Roman', Times, serif;">
                                The Team
                            </h4>
                            <p class = "tnrTitle">
                                Our team was given the title: Team 04. You can meet the members of the team below!
                                <br><br>
                                <h5 class = "tnrTitle">
                                    Jake Doody (<a href = #>jdoody1@umbc.edu</a>)
                                    <br>
                                    <i>Back-End Developer</i><br>
                                </h5>
                                <p>A undergraduate computer science student at UMBC with back-end web development skills...</p>
                                <h5 class = "tnrTitle">
                                    Zamya Golpayegan (<a href = #>rgolpay1@umbc.edu</a>)
                                    <br>
                                    <i>Developer</i><br>
                                </h5>
                                <p>A undergraduate computer science student at UMBC with...</p>
                                <h5 class = "tnrTitle">
                                    Ryan Hagedorn (<a href = #>ryanh4@umbc.edu</a>)
                                    <br>
                                    <i>Developer</i><br>
                                </h5>
                                <p>A undergraduate computer science student at UMBC with...</p>
                                <h5 class = "tnrTitle">
                                    Suraj Khatiwada (<a href = #>surajk1@umbc.edu</a>)
                                    <br>
                                    <i>Developer</i><br>
                                </h5>
                                <p>A undergraduate computer science student at UMBC with...</p>
                                <h5 class = "tnrTitle">
                                    Atta Navaid (<a href = #>a302@umbc.edu</a>)
                                    <br>
                                    <i>Front-End Developer</i><br>
                                </h5>
                                <p>
                                    A undergraduate computer science student at UMBC with front-end web development skills.
                                    He was tasked with creating the website user interface of this application.
                                </p>
                            </p>
                        </div>
                        <div>
                            <br>
                            <h4 class = "tnrTitle" style = "font-family: Georgia, 'Times New Roman', Times, serif;">
                                Community
                            </h4>
                            <p>
                                This application was designed by UMBC students. So the first few users of this application are all from UMBC.
                                And they mainly viewed COVID-19 data of Baltimore County. This county was also used as the basis for development.
                                <br>
                                From all the support and encouragement we received at UMBC, we decided to reach further and bring the support and care we received from the community of UMBC, to more people.
                                As our community expands, more and more patients get the care and management they really deserve and need to improve their health.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 5 - HELP PAGE -->

        <div class = "helpPage specialPage">
            <div class = "container" style = "margin-top: 40px;">
                <div class = "row">
                    <div class = "col">
                        <div>
                            <h1 style = "font-size: 60px;">
                                <i>Help</i>
                                <hr>
                            </h1>
                        </div>
                    </div>
                </div>
                <br>
                <div class = "whiteBox mx-3 rounded shadow-sm">
                    <div class = "row">
                        <div class = "col-md-12">
                            <h4 class = "modeTitle" style = "padding: 12px 0px 0px 25px;">
                                How Can We Help?
                            </h4>
                        </div>
                    </div>
                    <div style = "margin: 25px;">
                        <div class = "row">
                            <div class = "col-md-6">
                                <div>
                                    <p style = "margin-bottom: 4px;">
                                        First name
                                    </p>
                                    <input type = "text" class = "textInp" placeholder = "First name" style = "margin-bottom: 25px;">
                                </div>
                            </div>
                            <div class = "col-md-6">
                                <div>
                                    <p style = "margin-bottom: 4px;">
                                        Last name
                                    </p>
                                    <input type = "text" class = "textInp" placeholder = "Last name" style = "margin-bottom: 25px;">
                                </div>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-md-12">
                                <div>
                                    <p style = "margin-bottom: 4px;">
                                        Email address
                                    </p>
                                    <input type = "text" class = "textInp center-block" placeholder = "Email address" style = "margin-bottom: 25px;">
                                </div>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-md-12">
                                <div>
                                    <p style = "margin-bottom: 4px;">
                                        Message
                                    </p>
                                    <input type = "text" class = "textInp center-block" placeholder = "Message" style = "margin-bottom: 25px;">
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class = "btn btn-secondary" style = "margin-left: 0px;" onclick = "" id = "sendMessageButton">
                                Send Message
                            </button> 
                        </div>
                    </div>
                </div>
                <div class = "row m-3">
                    <div class = "whiteBox col-md-8 rounded shadow-sm">
                        <h4 class = "modeTitle" style = "padding: 12px 0px 0px 12px;">
                            Our Address
                        </h4>
                        <p style = "margin-top: 25px; padding: 0px 0px 0px 12px;">
                            Emergency Health Services UMBC <br>
                            1000 Hilltop Circle <br>
                            Baltimore, MD  21250 <br>
                            USA <br>
                            Phone: +1 410-455-3223 <br>
                            Fax: 410-455-1125 <br>
                            Email: <a href = "#">uhs@umbc.edu</a> <br>
                            Times: Mon – Fri: 8:30 AM – 5 PM EDT <br>
                        </p>
                    </div>
                    <div class = "whiteBox col-md-4 rounded shadow-sm">
                        <img class = "uhs card-img-top" src = "Icons/uhs.jpg" alt = "AddressImage" width = "50%" height = "50%">
                        <img class = "uhs card-img-top" src = "Icons/uhs2.png" alt = "AddressImage2" width = "50%" height = "50%">
                    </div>  
                </div>
                <div class = "row m-3">
                    <div class = "whiteBox col-md-12 rounded shadow-sm">
                        <h4 class = "modeTitle" style = "padding: 12px 0px 0px 12px;">
                            Our Emails
                        </h4>
                        <p style = "margin-top: 25px; padding: 0px 0px 0px 12px;">
                            Jake Doody: <a href = "#">jdoody1@umbc.edu</a> <br>
                            Zamya Golpayegan: <a href = "#">rgolpay1@umbc.edu</a> <br>
                            Ryan Hagedorn: <a href = "#">ryanh4@umbc.edu</a> <br>
                            Suraj Khatiwada: <a href = "#">surajk1@umbc.edu</a> <br>
                            Atta Navaid: <a href = "#">a302@umbc.edu</a> <br>
                        </p>
                    </div> 
                </div>
            </div>
        </div>

        <!-- 6 - PRIVACY POLICY PAGE -->

        <div class = "privPolPage specialPage">
            <div class = "container" style = "margin-top: 40px;">
                <div class = "row">
                    <div class = "col">
                        <div>
                            <h1 style = "font-size: 60px;">
                                <i>Privacy Policy</i>
                                <hr>
                            </h1>
                        </div>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col">
                        <div>
                            <br>
                            <h2 class = "tnrTitle" style = "font-family: Georgia, 'Times New Roman', Times, serif;">
                                <i>Who Are We?</i>
                            </h2>
                            <p>
                                We are a team of students that wanted to make COVID-19 data easily accessible by county population.
                                <br>
                                We created this application, because we were determined to improve the way data is shown to us.
                                Our determination started at the beginning of September 2021. 
                                Since then, we have been working hard to create something innovating and effective in a short span of time.
                                We envisioned a future where there are no obstacles that prevent people from looking up COVID-19 for counties.
                                <br>
                                Thanks to the hard work of our team, we’ve managed to successfully create a wonderful project with a simplistic web interface that supports all devices. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 7 - TERMS OF SERVICE PAGE -->

        <div class = "tosPage specialPage">
            <div class = "container" style = "margin-top: 40px;">
                <div class = "row">
                    <div class = "col">
                        <div>
                            <h1 style = "font-size: 60px;">
                                <i>Terms of Service</i>
                                <hr>
                            </h1>
                        </div>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col">
                        <div>
                            <br>
                            <h2 class = "tnrTitle" style = "font-family: Georgia, 'Times New Roman', Times, serif;">
                                <i>Who Are We?</i>
                            </h2>
                            <p>
                                We are a team of students that wanted to make COVID-19 data easily accessible by county population.
                                <br>
                                We created this application, because we were determined to improve the way data is shown to us.
                                Our determination started at the beginning of September 2021. 
                                Since then, we have been working hard to create something innovating and effective in a short span of time.
                                We envisioned a future where there are no obstacles that prevent people from looking up COVID-19 for counties.
                                <br>
                                Thanks to the hard work of our team, we’ve managed to successfully create a wonderful project with a simplistic web interface that supports all devices. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FOOTER -->

        <div class = "footer">
            <div class = "container">
                <img src = "Icons/Logo.png" class = "float-left mt-4 mb-4" width = "72" height = "72">
                <p class = "mt-4 mb-4 float-right">
                    &copy; 2021. All rights reserved. This application® is a registered trademark of the University of Maryland, Baltimore County.
                    <br>
                    Website made by Team 04.
                    <br>
                    <a href = "#" onclick = "revealPage(6)">Privacy Policy</a> | <a href = "#" onclick = "revealPage(7)">Terms of Service</a> 
                </p>
            </div>
        </div>
    </body>
    <script src = "js/app.js"></script>
</html>
