/*****************************

    NAVIGATION BAR STYLESHEET 

******************************/

.navbar {
    background-color: #cacacab6;
}

.navbar .navbar-brand {
	padding: 5px 20px 5px 20px;
	font-size: 16px;
    margin: 0px 20px 0px 20px;
    color: rgb(221, 221, 221);
    background-color: gray;
    border-radius: 25px;
}

.navbar .navbar-brand:hover {
    cursor: pointer;
    color: white;
}

a.nav-link i {
	padding: 7px 20px 7px 20px;
	font-size: 16px;
    margin: 0px 20px 0px 20px;
    color: rgb(236, 236, 236);
    background-color: rgb(168, 168, 168);
    border-radius: 25px;
}

a.nav-link i:hover {
    cursor: pointer;
    color: white;
}

/*****************************

    BODY STYLESHEET 

******************************/

body {
    background-color: #c5c5c5;
}

/*****************************

    HOME PAGE STYLESHEET 

******************************/

.specialPage {
    background-color: #e7e7e7c0;
    padding: 5px;
}

.whiteBox {
    border: 1px solid rgba(108, 117, 125, 0.15);
    background-color: white;
    border-radius: 25px;
}

.select-menu {
    display: inline-block;
    position: relative;
    font-style: italic;
    font-weight: 450;
    border: 0px solid rgba(108, 117, 125, 0.15);
    border-radius: 25px;
    background-color: #e7e7e7c0;
    color: gray;
    font-size: 15px;
}

.select-menu2 {
    display: inline-block;
    position: relative;
    font-style: italic;
    font-weight: 700;
    border: 0px solid rgba(108, 117, 125, 0.15);
    border-radius: 25px;
    background-color: rgb(156, 156, 156);
    color: black;
    font-size: 14px;
}

form {
    margin-top: 2px;
}

#resetSelectionButton {
    color: black; 
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 2px;
}

#countyName {
    font-size: 22px;
    margin-left: 3%;
}

#stateName {
    font-size: 20px;
    margin-left: 3%;
}

#countyFIPSCode {
    font-size: 18px;
    margin-left: 3%;
}

#infectionRate {
    font-size: 22px;
    margin-left: 3%;   
}

#vaccinationRate {
    font-size: 22px;
    margin-left: 3%;   
}

/*****************************

    MAP STYLESHEET 

******************************/

#map {
    width: auto;
    height: 811px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/*****************************

    NEWS PAGE STYLESHEET 

******************************/

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
  
.popup .popuptext {
    position: absolute;
    visibility: hidden;
    width: 230px;
    background-color: rgb(255, 255, 255);
    color: rgb(83, 83, 83);
    text-align: left;
    border: 1px solid rgb(39, 39, 39);
    border-radius: 6px;
    padding: 8px;
    bottom: 125%;
    left: 50%;
    margin-left: -113px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(255, 255, 255) transparent transparent transparent;
}
  
.popup .show {
    visibility: visible;
}

/*****************************

    SETTINGS PAGE STYLESHEET 

******************************/

.modeTitle {
    padding: 12px 0px 0px 25px;
    color: black;
}

select {
    outline: none;
    border: 1px solid rgba(108, 117, 125, 0.4);
    border-radius: 4px;
    width: 68%;
    height: 100%;
    padding: 7px 2px 7px 10px;
    font-size: 16px;
    margin: 0%;
}

/*****************************

    HELP PAGE STYLESHEET 

******************************/

img.uhs {
    border-radius: 10px;
    padding: 5px;
}

input.textInp {
    outline: none;
    border: 1px solid rgba(108, 117, 125, 0.4);
    border-radius: 4px;
    width: 68%;
    height: 100%;
    padding: 7px 2px 7px 10px;
    font-size: 16px;
    margin: 0%;
}

/*****************************

    FOOTER STYLESHEET 

******************************/

.footer {
    color: rgb(133, 133, 133);
    border-top: 5px solid rgb(163, 163, 163);
}

a {
    color: #0275d8;
}